<div *ngIf="isLoggedIn;  else loginPage" >
  
  <div class="main-container">
   
    <div class="toolbar">
      <div class="toolbar-left">
        <h1>E-Commerce</h1>
      </div>
      <div class="toolbar-right">
        <button (click)="logout()">Logout</button>
        <button (click)="navigateToHome()">Home</button>
        <button (click)="navigateToOrder()">Your Order</button>
        <button (click)="navigateToCart()">🛒 Cart ({{ cartItemCount }})</button>
        <h3>{{username}}</h3>
       
      </div>
    </div>

  
    <div class="content-container">
    
      <div class="sidebar" [class.closed]="isSidebarClosed">
        <button class="toggle-btn" (click)="toggleSidebar()">
          {{ isSidebarClosed ? 'Open' : 'Close' }}
        </button>
        <ul class="menu">
          <li *ngFor="let menu of filteredMenuItems">
            <div class="menu-item" (click)="toggleSubmenu(menu)">
              <span *ngIf="!isSidebarClosed; else iconOnly">
                {{ menu.label }}
              </span>
              <ng-template #iconOnly>
                <i class="menu-icon">🔹</i> 
              </ng-template>
              <span *ngIf="menu.submenus">
                {{ menu.isExpanded ? '▼' : '▶' }}
              </span>
            </div>
            <ul *ngIf="menu.isExpanded && menu.submenus" class="submenu">
              <li *ngFor="let submenu of menu.submenus" (click)="navigateTo(submenu.route)">
                {{ submenu.label }}
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #loginPage>
  <div class="login-container">
    <h2>Welcome! Please Log In</h2>
    <router-outlet></router-outlet>
  </div>
</ng-template>






