<div class="grid-container" > 
<div class="grid-item" >
    <div class="checkout-container">
        <h2>Checkout Summary</h2>
     
        <table class="checkout-table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checkoutData.cartItems">
              <td>{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.price * item.quantity  }}</td>
            </tr>
          </tbody>
        </table>
      
        <hr />

        <div class="summary">
          <h3>Pricing Summary</h3>
      
          <div class="summary-row">
            <span>Subtotal:</span>
            <span>{{ checkoutData.totalValue + (checkoutData.discount || 0) - (checkoutData.deliveryCharge || 0) }}</span>
          </div>
          <div class="summary-row" *ngIf="checkoutData.discount">
            <span>Discount (Coupon Applied):</span>
            <span>- {{ checkoutData.discount }}</span>
          </div>
          <div class="summary-row">
            <span>Delivery Charge:</span>
            {{ checkoutData.deliveryOption === 'fast' ? 50  : 'Free' }}
          </div>
          <div class="summary-row">
            <span>Tax Charge:</span>
            <span>{{ checkoutData.tax }}</span>
          </div>
          <div class="summary-row">
            <span>GST Charge:</span>
            <span>{{ checkoutData.gst }}</span>
          </div>
          <div class="summary-row">
            <strong>Total:</strong>
            <strong>{{ checkoutData.totalValue + checkoutData.tax + checkoutData.gst  }}</strong>
          </div>
        </div>
      
        <hr />
      
        <div class="delivery-option">
          <h3>Delivery Option</h3>
          <p>
            <strong>{{ checkoutData.deliveryOption === 'free' ? 'Free Delivery' : 'Get by Tomorrow' }}</strong>
          </p>
        </div>
        <div class="delivery-option">
          <h3>Payment Option</h3>
          <p>
            <strong>{{ checkoutData.paymentType === 'COD' ? 'Cash On Delivery' : 'Online Payment' }}</strong>
          </p>
        </div>
      
        <button class="checkout-btn" (click)="payment()">Confirm and Pay</button>
      </div>
      
</div>
</div>