 <div class="grid-container">
    <div class="grid-item">
      <div *ngIf="item">
        <h2>Edit Item</h2>
        <form (ngSubmit)="updateItem()">
          <label>
            Name:
            <input [(ngModel)]="item.name" name="name" />
          </label>
          <label>
            Description:
            <textarea [(ngModel)]="item.description" name="description"></textarea>
          </label>
          <button type="submit">Update</button>
          <button (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
    <div class="grid-item">
     
    </div>
    </div>



