
<!-- <form (submit)="updateItem()">
    <input type="text" [(ngModel)]="itemName" name="name" placeholder="Name" required />
  
    <input type="text" [(ngModel)]="itemDescription" name="description" placeholder="Description" required />
    <button type="submit">Update</button>
  </form> -->

<div *ngIf="item">
  <h2>Edit Item</h2>
  <form (ngSubmit)="updateItem()">
    <label>
      Name:
      <input [(ngModel)]="item.name" name="name" />
    </label>
    <label>
      Description:
      <textarea [(ngModel)]="item.description" name="description"></textarea>
    </label>
    <button type="submit">Update</button>
    <button (click)="cancel()">Cancel</button>
  </form>
</div>

