  <div *ngIf="orderDetails && orderDetails.length > 0; else noOrders">
    <div *ngFor="let item of orderDetails" class="order-item">
      <h3>Order ID: {{ item.orderId }}</h3>
      <p>Ordered On: {{ item.createdAt  }}</p>

      <div class="product-card">
        <img
          *ngIf="item.image && item.image.length > 0"
          [src]="item.image[0]"
          alt="{{ item.name }}"
        />
        <p><strong>Product:</strong> {{ item.name }}</p>
        <p><strong>Price:</strong> ₹{{ item.price }}</p>
        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
      </div>
  
      <div class="order-status">
        <p><strong>Status:</strong></p>
        <ng-container *ngIf="item.orderStatus && item.orderStatus.length > 0">
          <span>{{ item.orderStatus[item.orderStatus.length - 1]?.status }}</span>
   
        </ng-container>
      </div>
    </div>
  </div>
  
  <ng-template #noOrders>
    <p>No orders found for the logged-in user.</p>
  </ng-template>
  
  
  