
<div class="orders-section">
    <h2>User Management</h2>
    <table class="orders-table">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Role</th>
          <th>Status</th>
          <th>view</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
          
          <td>
            <select >
              <option value="active">Active</option>
              <option value="In-Active">In-Active</option>
              <option value="blocked">Blocked</option>
             
            </select>
          </td>
          <td>
            <button >View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  