
<div class="orders-section">
    <h2>User Management</h2>
    <table class="orders-table">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Role</th>
          <th>Status</th>
          <th>Current Status</th>
          <th>Updated On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
          
          <td>
            <select (change)="updateUserStatus($event, user.username)">
              <option value="active">Active</option>
              <option value="In-Active">In-Active</option>
              <option value="blocked">Blocked</option>
             
            </select>
          </td>
          <td *ngIf="user.userStatus?.length > 0">
            {{ user.userStatus[user.userStatus.length - 1].status }}
          </td>
    
          <!-- Fallback for no status -->
          <td *ngIf="!user.userStatus || user.userStatus.length === 0">
            --
          </td>
          <td *ngIf="user.userStatus?.length > 0">
            {{ user.userStatus[user.userStatus.length - 1].updatedAt }}
          </td>
    
          <!-- Fallback for no status -->
          <td *ngIf="!user.userStatus || user.userStatus.length === 0">
            --
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  