
<!-- <div>
    <form (submit)="addItem()">
        <input type="text" [(ngModel)]="itemName" name="name" placeholder="Name" required />
        <input type="text" [(ngModel)]="itemDescription" name="description" placeholder="Description" required />
        <button type="submit">Add</button>
      </form>
</div> -->

<!-- <mat-card class="form-container">
  <mat-card-title>Item Form</mat-card-title>
  <form [formGroup]="itemForm" MatInputModule (submit)="addItem()">

 <mat-form-field appearance="fill" class="full-width">
     <mat-label>Product Name</mat-label>
      <input matInput [(ngModel)]="itemName" name="name">
    </mat-form-field>
     
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product Description</mat-label>
       <input matInput [(ngModel)]="itemDescription" name="description">
     </mat-form-field>

     <mat-form-field>
      <mat-label>Favorite car</mat-label>
      <select matNativeControl [(ngModel)]="selectedCar" name="car">
        <option value="" selected></option>
        @for (car of cars; track car) {
          <option [value]="car.value">{{car.viewValue}}</option>
        }
      </select>
    </mat-form-field>
   
     <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product Price</mat-label>
       <input matInput [(ngModel)]="itemDescription" name="description">
     </mat-form-field>

     <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product Description</mat-label>
       <input matInput [(ngModel)]="itemDescription" name="description">
     </mat-form-field>
   
    <div class="file-upload">
      <label for="fileInput">
        <input
          type="file"
          id="fileInput"
          (change)="onFileChange($event)"
          accept="image/*"
          
        />
        <button mat-raised-button color="primary">Upload Image</button>
      </label>
      <span *ngIf="selectedImage">{{ selectedImage?.name }}</span>
    </div>

  
    <div *ngIf="preview" class="image-preview">
      <img [src]="preview" alt="Preview" />
    </div>

   
    <button
      mat-raised-button
      color="accent"
      type="submit"
     
    >
      Submit
    </button>
  </form>
</mat-card> -->
<div class="grid-container">
  <div class="grid-item">
    <form (ngSubmit)="addItem()">
      <input type="text" [(ngModel)]="itemName" name="name" placeholder="Name" required />
      <textarea [(ngModel)]="itemDescription" name="description" placeholder="Description" required></textarea>
  <div> <select [(ngModel)]="itemCategory" name="category" required>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select></div>
     
  
      <input type="number" [(ngModel)]="itemPrice" name="price" placeholder="Price" required />
  
      <input type="file" (change)="onFileChange($event)" accept="image/*" />
  
     
    </form>
    </div>
    
    <div class="grid-item">
      <button type="submit">Add</button>
    </div>
    </div>

