
<div class="orders-section">
    <h2>Order Management</h2>
    <table class="orders-table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th>Current Status</th>
          <th>Updated On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.userName }}</td>
          <td>{{ order.orderDetails.totalValue  }}</td>
          <td>
            <select (change)="updateOrderStatus($event, order.orderId)">
              <option value="Pending">Pending</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
              <option value="Canceled">Canceled</option>
            </select>
          </td>

          <td *ngIf="order.orderStatus?.length > 0">
            {{ order.orderStatus[order.orderStatus.length - 1].status }}
          </td>
    
          <td *ngIf="!order.orderStatus || order.orderStatus.length === 0">
            --
          </td>
          <td *ngIf="order.orderStatus?.length > 0">
            {{ order.orderStatus[order.orderStatus.length - 1].updatedAt }}
          </td>
          <td *ngIf="!order.orderStatus || order.orderStatus.length === 0">
            --
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  